strong {
    font-weight: bolder !important;
}

#selects_area,
#button_area {
    margin-left: 1rem;
}

#sources,
#screenshots {
    max-width: 20rem;
    margin-bottom: 0.5rem;

    & > select {
        height: 2rem;
    }
}

#screenshot_dropdown {
    position: relative;
}

select,
input[type=text], {
    height: 2rem;
}

option.hidden {
    display: none;
}

#select_screenshot {
    min-width: 30vw;
}

#loading {
    display: none;
    position: relative;
    top: 6px;
    content: url(https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif);
    max-width: 24px;
    max-height: 24px;
}

#automate {
    padding-top: 1.9rem;
}

#has_results,
#results_button,
#source_links {
    display: none;
}

.mouse-over {
    position: absolute;
    min-width: 50%;
}

#image_area {
    padding-left: 1.5rem;
}

.push-right {
    position: relative;
    left: 40rem;
}

.image-zone {
    margin-top: 2rem;
    border: 8px solid #ccc;
    color: #ccc;
    font-size: 32px;
    height: 330px;
    line-height: 330px;
    text-align: center;
    width: 330px;
    overflow: hidden;
    position: relative;
}

.image-zone img {
    width: 330px;
    position: absolute;
    top: 0;
    left: 0;
}

.difference {
    cursor: pointer;
}

.test-image {
    cursor: pointer;
}

.after {
    height: 0;
    visibility: hidden;
}

#diff_msg {
    display: none;
}

#title_area {
    position: absolute;
    min-width: 100%;
    padding-bottom: 1rem;
    white-space: nowrap;
}

#button_area {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#comparing {
    white-space: nowrap;
}

#test_number {
    display: none;
}

#clear_button {
    display: none;
    border: 1px solid #111111;
    padding: 2px 4px;
}

td[data-name] {
    text-decoration: underline;
    cursor: pointer;
    color: #0000cc;

    &:hover {
        color: #0000ff;
    }
}

#command_results {
    display: none;
}

.btn_copy {
    max-height: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

#udt {
    position: relative;
    top: -1px;
}
